<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eason.here">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_here"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">

        <!-- Amap apiKey-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bc23383ffa4aebee0e8a6f03c3eb123c" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main_activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".login_register.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>

        </activity>
        <activity
            android:name=".login_register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>

        </activity>

        <activity
            android:name=".publish_location_activity.PublishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateVisible|adjustPan"
            android:theme="@style/AppTheme">>

        </activity>

        <activity
            android:name=".util.ImageScan.ImageScanMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>

        </activity>

        <activity
            android:name=".util.ImageScan.ShowImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>

        </activity>
    </application>

</manifest>
