<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eason.marker"
    android:versionCode="2"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <!-- 环信SDK -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <!-- 解决Android L上通知显示异常问题，targetSdkVersion需要设置成22 -->
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />
    <!-- 个推SDK权限配置开始 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- ibeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 支持个推3.0 电子围栏功能 -->
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.com.eason.marker" /><!--替换为第三方应用的包名-->
    <permission
        android:name="getui.permission.GetuiService.com.eason.marker"
        android:protectionLevel="normal" >
    </permission><!--替换为第三方应用的包名-->
    <!-- 个推SDK权限配置结束 -->

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">

        <!-- Amap apiKey  测试key  bc23383ffa4aebee0e8a6f03c3eb123c  正式key 4ae2316f87e0a294379e69c33e40b79e -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4ae2316f87e0a294379e69c33e40b79e" />

        <!-- 设置环信应用的appkey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="lovermarker#lovermarker" />
        <!-- 声明sdk所需的service SDK核心功能-->
        <service android:name="com.easemob.chat.EMChatService" />

        <!--个推SDK配置开始-->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="fa65x2WVTBA424hoxckGjA" /><!--替换为第三方应用的APPID-->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="xKPKwTPtw88AbxxBJK6uIA" /><!--替换为第三方应用的APPKEY-->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="cPpKWrnnfQ8qajD0dOvJv5" /><!--替换为第三方应用的APPSECRET-->

        <!-- 配置第三方Receiver -->
        <receiver
            android:name=".push_notification_util.PushNotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.fa65x2WVTBA424hoxckGjA" />
            </intent-filter>
        </receiver>

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" />
        <service
            android:name="com.igexin.sdk.PushServiceUser"
            android:exported="true"
            android:label="NotificationCenterUser" />
        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:exported="true"
            android:authorities="downloads.com.eason.marker"
            android:process=":pushservice" /><!--替换为第三方应用的包名-->

        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <action android:name="com.igexin.sdk.action.fa65x2WVTBA424hoxckGjA" /><!--替换为第三方应用的APPID-->
            </intent-filter>
        </receiver>
        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />

        <!-- 个推SDK配置结束 -->


        <activity
            android:name="com.eason.marker.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.eason.marker.main_activity.MainActivity"
            android:label="@string/main_map_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.eason.marker.login_register.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>

        </activity>
        <activity
            android:name="com.eason.marker.login_register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>

        </activity>

        <activity
            android:name="com.eason.marker.publish_location_activity.PublishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateVisible|adjustPan"
            android:theme="@style/AppTheme">>

        </activity>

        <activity
            android:name="com.eason.marker.util.ImageScan.ImageScanMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>

        </activity>

        <activity
            android:name="com.eason.marker.util.ImageScan.ShowImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>

        </activity>

        <activity
            android:name="com.eason.marker.profile_activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>

        </activity>

        <activity
            android:name="com.eason.marker.about_us_activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>

        </activity>




        <!-- 环信Activity-->

        <!-- EMChat主页面-->
        <activity
            android:name=".emchat.chatuidemo.activity.EMChatMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>
        </activity>
        <!-- 登录页面-->
        <activity
            android:name=".emchat.chatuidemo.activity.EMChatLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>
        </activity>
        <!-- 注册页面-->
        <activity
            android:name=".emchat.chatuidemo.activity.EMChatRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">>
        </activity>
        <!-- 聊天页面 -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- 添加好友 -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.AddContactActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/horizontal_slide" >
        </activity>

        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.ChatRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 聊天室详情 -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.ChatRoomDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>

        <!-- 新的朋友邀请消息页面 -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.NewFriendsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>
        <!-- 转发消息用户列表页面 -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.ForwardMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 自定义的contextmenu -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!-- 自定义的alertdialog -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.AlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.ShowBigImage"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>
        <!-- 黑名单 -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.BlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>

        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.PublicChatRoomsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.ShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- choose video -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- upload error log -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.DiagnoseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- iOS offline push nick -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.OfflinePushNickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- robots list -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.RobotsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"
            ></activity>
        <!-- user profile -->
        <activity
            android:name="com.eason.marker.emchat.chatuidemo.activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            ></activity>

        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- gcm start -->
        <receiver
            android:name="com.easemob.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.easemob.chatuidemo" />
            </intent-filter>
        </receiver>

        <service android:name="com.easemob.chat.EMGCMListenerService"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.eason.marker.emchat.chatuidemo.receiver.GCMPushBroadCast"
            android:exported="false">
            <intent-filter >
                <action android:name="com.easemob.sdk.push"/>
                <category android:name="com.easemob.chatuidemo"/>
            </intent-filter>
        </receiver>
        <!-- gcm end -->
        <!-- 环信SDK End-->
    </application>

</manifest>
